@* Burada quizden sonra ne kadar doğru yaptığını ve ilk kez sınava giriyorsa hangi seviyede olduğunu, ilk kez girmiyorsa da seviye atlayıp atlamadığını yazsın. Hesaplama yaparken de yine forma gönderilecek olan hidden inputlarda bunu tutmak daha iyi olur. *@
@model AfterQuizModel
<style>
    body{
        background-color: #edf5f7;
    }
</style>
<div class="container d-flex justify-content-center align-items-center">

    <div class="card score_box p-4">
        <div class="icon text-center"><i class="fas fa-crown"></i></div>
        <div class="score_text text-center">
            Toplam Soru: <b>@Model.totalQuestion</b>
            <br>
            Doğru Cevap: <b>@Model.correctAnswer</b>
            <br>
            Yanlış Cevap: <b>@Model.incorrectAnswer</b>
            <br>
            Seviye: <b>@Model.levelName</b>
            <br>
            @Model.Message

        </div>
        <div class="buttons text-center mb-3">
            <a href="/Home/Index" class="btn btn-primary btn_replay ">Ana Sayfa</a>
            <a href="/Lesson/LessonContent" class="btn btn-primary btn_quit">Eğitimlerim</a>
        </div>
    </div>
</div>



